
@{
    ViewData["Title"] = "Index";
}


<h3>Unix Timestamp Microservice API</h3>

<p>Use this API by adding a "/" and either a valid Unix timestamp or a natural date to the url. The API
    will return both the natural date and the Unix timestamp for that date. The natural date can be in a range of different
    formats but do not include slashes within the date. </p>